#################
## Windows detritus
#################

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#################
## Directories
#################

dev/
node_modules/